@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* https://preview.themeforest.net/item/industo-factory-business-html-template/full_screen_preview/37634265?_ga=2.203158424.825146422.1653195339-297633288.1649956784 */

/* http://preview.themeforest.net/item/7factory-industrial-factory-manufacturing-html-template/full_screen_preview/19649880?_ga=2.266509063.825146422.1653195339-297633288.1649956784 */

/* https://templates.envytheme.com/robtic/default/index-2.html */
